.testimonialsOverlay {
  position: absolute;
  top: 400px;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 2;
}

.testimonialCard1 {
  position: absolute;
  top: 60px;
  left: 60px;
  background: rgba(255,255,255,0.7);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  padding: 16px 24px;
  font-size: 0.9rem;
  color: #222;
  max-width: 320px;
}
.testimonialCard2 {
  position: absolute;
  top: 180px;
  right: 60px;
  background: rgba(255,255,255,0.7);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  padding: 16px 24px;
  font-size: 0.9rem;
  color: #222;
  max-width: 320px;
}
.testimonialCard3 {
  position: absolute;
  top: 300px;
  left: 45%;
  transform: translateX(-50%);
  background: rgba(255,255,255,0.7);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  padding: 16px 24px;
  font-size: 0.9rem;
  color: #222;
  max-width: 320px;
}
.hero {
  padding-top: 20px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  width: 100%;
  margin: 2rem auto;
  padding: 3vw;
  border-radius: 24px;
  background: linear-gradient(180deg, #b6f08a 0%, #a3e077 100%);
  z-index: 1;
  overflow: hidden;
}

.heroContent {
  flex: 1 1 320px;
  min-width: 0;
    height: 800px;
}

.hero h1 {
  font-size: 4rem;
  line-height: 1.1;
  margin-bottom: 20px;
  letter-spacing: -0.25rem;
}

.hero p {
  max-width: 420px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.cta {
  display: flex;
  gap: 10px;
  z-index: 0;

}

.events{
  border-radius: 10px;
  padding: 0.65rem 0.65rem 0.65rem 0.65rem;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.02rem;
  background: #2d4a1a;
  color: #b6f08a;
  font-weight: bold;
}

.about{
  border-radius: 10px;
  padding: 0.65rem 0.65rem 0.65rem 0.65rem;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.02rem;
  background: #2d4a1a;
  color: #b6f08a;
  font-weight: bold;
}

.heroImage {
  flex: 0 1 300px;
  min-width: 500px;
  min-height: 360px;
  background: url("../../public/2.jpg") center/cover;
  border-radius: 20px;
  margin-left: 2vw;
  z-index: 1;
}

@media (max-width: 900px) {
  .hero {
    flex-direction: column;
    align-items: stretch;
    padding: 4vw 2vw;
  }
  .heroImage {
    margin-left: 0;
    margin-top: 2vw;
    align-self: center;
    width: 60vw;
    min-width: 120px;
    min-height: 120px;
  }
}

@media (max-width: 600px) {
  .hero {
    padding: 3vw 1vw;
    border-radius: 12px;
  }
  .hero h1 {
    font-size: 3rem;
  }
}


/* WAVE */

.wave {
  position: absolute;
  bottom: -60px;
  left: -40px;
  width: 120%;
  height: 120px;
  z-index: -1;
  background: linear-gradient(180deg, #b6f08a 0%, #a3e077 100%);
  border-radius: 50%;
}
