.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.25);
  backdrop-filter: blur(8px);

  display: flex;
  align-items: flex-start;
  justify-content: center;

  padding-top: 120px;

  z-index: 1000;
}

.modal {
  width: 600px;
  border-radius: 16px;
  background: white;

  box-shadow:
    0 20px 60px rgba(0,0,0,0.25);

  padding: 20px;
}

.input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
}